exclude: src/cftoolkit
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: end-of-file-fixer
        types: [python]
      - id: trailing-whitespace
        types: [python]
      - id: check-builtin-literals
        types: [python]
      - id: flake8
        types: [python]
        args: [--max-line-length=100, --ignore=E203 W503 W504]

  - repo: https://github.com/psf/black
    rev: 19.3b0
    hooks:
      - id: black