version: "3"

services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: mlflow
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mlflow
    volumes:
      - "./data/database:/var/lib/postgresql/data"
    expose:
      - "5432"
  backend:
    build:
      context: .
    image: mlflow_server
    depends_on :
      - db
    ports:
      - "5000:5000"
    volumes:
      - "./data/artifacts:/data/artifacts"
      - "./data/trained_models:/data/trained_models"